<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="csrf-token" content="{{csrfToken}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/scripts/style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Yantramanav&display=swap"
            rel="stylesheet"
        />
        <title>Thomas Heaphy</title>

    </head>

    <body>

        <div id="main">

            <header>
                <div id="logo">
                    <img src="/logo.jpg" />
                </div>
                <div id="top-menu">
                    <div class="dropdown-menu closed">
                        <div
                            id="portfolio-label"
                            class="menu-item"
                        >PORTFOLIO</div>
                        <ul class="menu">

                            <li
                                v-for="image in sortedCategories"
                                v-bind:key="image.id"
                                @click="setSelectedCategory(image.category)"
                            >
                                \{{image.category}}</li>

                        </ul>
                    </div>

                    <div id="about-label">
                        <a href="/about">ABOUT</a>
                    </div>
                    <div id="contact-label">
                        <a href="/contact">CONTACT</a>
                    </div>
                    <div><a
                            href="http://www.instagram.com/spreadloveandterror"
                            target="_blank"
                        >
                            <img src="/instaicon.png" /></a>
                    </div>
                </div>
            </header>
            <main>
                <div v-if="categories.length == 0">
                    {{{body}}}
                </div>

                <div v-else-if="categories.length > 0">



                    <div id="image-container">
                        <div
                            class="image-thumbnail"
                            v-for="image in categories"
                            v-bind:key="image.id"
                        >
                            <a :href="`#${image.id}`" >
                            <img
                                :src="`${image.path}`"
                                :alt="`${image.title}`"
                            />
                            </a>

                        </div>
                    </div>
                       
                    </div>

                        <view-image :image-id="imageId" v-if="imageId" @close="closeWindow" >
                        </view-image>
   
                    <script id="view-image" type="text/x-template">
                    
                    <div id="card-container">
                        <div id="card-view">
                         
                            <span id="close-button" @click="closeWindow">X</span>
                            <div id="card-image">
                                <img :src="path" :alt="title" > 
                            </div>

                            <div id="card-description">
                                <p id="card-title" class="text-span">\{{title}} \{{imageId}}</p>
                                <p class="text-span">\{{description}}</p>
                            </div>

      
                        </div>
                    </div>
                    </script>







                </div>






            </main>

            <footer>

                © THOMAS HEAPHY 2021
            </footer>

            <div id="admin-login"></div>
            <div id="login-box">
                <form id="login-form" method="POST">
                    <label>Username</label>
                    <input type="text" name="username" required />
                    <label>Password</label>
                    <input type="password" name="password" required />
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

                    <button type="submit">Submit</button>
                </form>
            </div>

        </div>

        <script src="/scripts/vue.js"></script>
        <script src="/scripts/axios.min.js"></script>
        <script src="/scripts/vuescript.js"></script>
        <script src="/scripts/site.js"></script>

    </body>

</html>